<% include ./partials/header %>

<div class="container mt-5">
	<h2 class="text-center">Autorizēties</h2>
	<form action="/login" method='POST'>
		<div class="form-group">
			<input class='form-control mx-auto' type="text" name="username" id="" placeholder="lietotājvārds">
		</div>
		<div class="form-group">
			<input class='form-control mx-auto' type="password" name="password" id="" placeholder="parole">
		</div>
		<div class="form-group text-center">
			<input class='btn btn-secondary' type="submit" value="Ienākt">
		</div>
	</form>
</div>


<% include ./partials/footer %>