<% include ../partials/header %>

<div class="container mt-5">
	<h2 class="text-center">Jauns ieraksts</h2>
	<form action="/stories" method='POST'>
		<div class="form-group">
			<input class='form-control mx-auto' type="text" name="title" id="" placeholder="Nosaukums">
		</div>
		<div class="form-group">
			<textarea class='form-control mx-auto' type="text" name="description" id="ckeditor" placeholder="Saturs"></textarea>
		</div>
		<div class="form-group text-center">
			<input class='btn btn-secondary' type="submit" value="Pievienot">
		</div>
</form>
</div>


<% include ../partials/footer %>
